body {
    font-family: 'Bungee', cursive;
    color: black;
    padding-left: 3%;
    padding-right: 3%;
}

.navigation-link {
    color: #7944e6;
    padding: 8px;
}

h1 {
    margin: 0px;
    line-height: 30px;
}

p {
    margin: 0px;
    line-height: 30px;
}

ul {
    display: flex;
    list-style-type: none;
}



/* HEADER */



.header-parent {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.header-child {
    width: 50%
}

.header-child-a {
    display: flex;
    justify-content: flex-start;
}

.header-child-b {
    display: flex;
    justify-content: flex-end;
}



/* ABOUT */



.about-parent {
    background-color: #ff00ff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-child {
    padding: 25px;
    height: 50%;
}

.about-image {
    align-content: center;
    padding-top: 25px;
    max-height: 180px;
}



/* CARDS */



.cards-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    border: 4px solid #7944e6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards-image {
    align-items: center;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

.cards-button {
    display: flex;
    align-items: flex-end;
    margin: 0px;
}



/* LINKS */



a:link {
    text-decoration: none;
}

a:hover {
    color: #10fdff;
}

@media screen and (min-width: 768px) {



    /* ABOUT SECTION FOR DESKTOP */



    .about-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .about-child {
        width: 50%;
    }

    .about-image {
        align-items: center;
        width: 100%;
    }



    /* CARDS SECTION FOR DESKTOP */


    
    .cards-parent {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .cards-child {
        display: flex;
        width: 25%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .cards-button {
        display: flex;
        margin-top: auto;
    }

}